.static h2 {
    color: #1D1D1B;
    font-size: 42px;
    padding-bottom: 58px;
}

.s-card {
    display: flex;
    gap: 20px;
    border-radius: 8px;
    border: 1px solid #A8A8A8;
    width: 273px;
    height: 90px;
    padding: 25px;
}

.s-card p {
    font-size: 14px;
    color: #393838;
}

span {
    color: #27AE60;
}

.static {
    padding-top: 80px;
    padding-bottom: 80px;
}

.s-card_desc {
    padding-top: 12px;
}

.s-cards {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

@media (max-width:1300px) {
    .s-cards {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
    }
}

@media (max-width:1040px) {
    .s-cards {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
    }

    .static h2 {
        font-size: 24px;
        text-align: center;
    }
}

@media (max-width:566px) {
    .s-cards{
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }
}